
.viewprofile{
    text-align: center;
    display: inline-block;
    width: 750px;
    /* background-color: darkblue; */
}

.avatar{  
    border-radius: 30px;
}
.profileedit{
    display: inline-block;
}
.descinput{
    width: 300px;
    height: 200px;
}
textarea{
    resize: none;
  }
.profiledit{
    margin-top: 50px;
}  
@media only screen and (max-width: 500px){
    .viewprofile{
        text-align: justify;
    }
}